<h1>Reset Password</h1>
<h2>Enter your email to reset your password</h2>
@if (email.touched && email.invalid) { @if (email.errors?.['required']) {
<mat-error>Email is required</mat-error>
} @if (email.errors?.['email']) {
<mat-error>Please enter a valid email address</mat-error>
} }
<mat-form-field appearance="outline">
  <mat-label>Email</mat-label>
  <input matInput type="email" [formControl]="email" />
  <mat-icon matIconPrefix>email</mat-icon>
</mat-form-field>

<button matButton="tonal" [disabled]="email.invalid" (click)="handleResetPassword()">
  Send Reset Link
</button>
<p>Remembered your password? <a routerLink="/sign-in">Sign In</a></p>
