<mat-sidenav-container>
  <mat-sidenav
    autoFocus="false"
    mode="over"
    position="end"
    [opened]="navigationService.sidenavOpened()"
    (closed)="navigationService.closeSidenav()"
  >
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/"
        routerLinkActive="active-link"
        (click)="navigationService.closeSidenav()"
        >Home</a
      >
      <a
        mat-list-item
        routerLink="/about"
        routerLinkActive="active-link"
        (click)="navigationService.closeSidenav()"
        >About</a
      >
      <a
        mat-list-item
        routerLink="/contact"
        routerLinkActive="active-link"
        (click)="navigationService.closeSidenav()"
        >Contact</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
