@use '@angular/material' as mat;

:host {
  @include mat.sidenav-overrides(
    (
      container-background-color: orange,
      container-text-color: red,
    )
  );

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  @media (max-width: 600.01px) {
    top: 56px;
  }

  @media (min-width: 600.01px) {
    top: 64px;
  }
}
