<mat-sidenav-container (backdropClick)="navigationService.closeSidenav()">
  <mat-sidenav
    autoFocus="false"
    mode="over"
    position="end"
    [opened]="navigationService.sidenavOpened()"
  >
    <div class="container">
      <nav>
        <a
          matButton="filled"
          routerLink="/"
          routerLinkActive="active-link"
          (click)="navigationService.closeSidenav()"
          >Home</a
        >
        <a
          matButton="filled"
          routerLink="/about"
          routerLinkActive="active-link"
          (click)="navigationService.closeSidenav()"
          >About</a
        >
        <a
          matButton="filled"
          routerLink="/contact"
          routerLinkActive="active-link"
          (click)="navigationService.closeSidenav()"
          >Contact</a
        >
      </nav>
      <mat-divider></mat-divider>
      <div class="socials">
        <a
          matIconButton
          href="https://github.com/bbiehl/data-connect-demo"
          target="_blank"
          aria-label="GitHub"
        >
          <mat-icon svgIcon="github-icon"></mat-icon>
        </a>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
