<mat-toolbar>
  <div class="layout">
    <h1>data-connect-demo</h1>
  </div>
  <div class="nav-links">
    <a matButton routerLink="/" routerLinkActive="active-link">Home</a>
    <a matButton routerLink="/about" routerLinkActive="active-link">About</a>
    <a matButton routerLink="/contact" routerLinkActive="active-link">Contact</a>
  </div>
  <div class="menu-button">
    <button matIconButton (click)="navigationService.toggleSidenav()">
      @if (navigationService.sidenavOpened()) {
      <mat-icon>close</mat-icon>
      } @else {
      <mat-icon>menu</mat-icon>
      }
    </button>
  </div>
</mat-toolbar>
