:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.divider {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 0.5rem;
  align-items: center;
  max-width: 400px;
  margin: 1rem 0;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

a {
  color: var(--mat-sys-primary);
  text-decoration: none;
}
