<footer>
  <section class="nav-links">
    <a matButton routerLink="/" routerLinkActive="active-link">Home</a>
    <a matButton routerLink="/about" routerLinkActive="active-link">About</a>
    <a matButton routerLink="/contact" routerLinkActive="active-link">Contact</a>
  </section>
  <section class="divider">
    <mat-divider></mat-divider>
  </section>
  <section>socials</section>
  <section class="credits">
    <div class="row">
      <div>Developed by&nbsp;</div>
      <div>
        <a href="https://www.willawave.com/" target="_blank" rel="noopener">WillaWave LLC</a>
      </div>
      <div>&nbsp;©{{ year() }}</div>
    </div>
    <div class="row">
      <div>Built with&nbsp;</div>
      <div>
        <a href="https://angular.dev/" target="_blank" rel="noopener">Angular</a>
      </div>
      <div>&nbsp;and&nbsp;</div>
      <div>
        <a href="https://material.angular.dev/" target="_blank" rel="noopener">Angular Material</a>
      </div>
    </div>
  </section>
</footer>
