@use '@angular/material' as mat;

:host {
  @include mat.button-overrides(
    (
      filled-container-color: var(--mat-sys-secondary),
      filled-label-text-color: var(--mat-sys-on-secondary),
      filled-horizontal-padding: 0.2rem,
    )
  );
}

footer {
  background-color: var(--mat-sys-secondary);
  color: var(--mat-sys-on-secondary);
  padding: 1rem 0;
}

section {
  margin: 0 auto;
  max-width: 1200px;

  @media (max-width: 1200px) {
    max-width: calc(100% - 2rem);
  }
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.credits {
  a {
    color: inherit;
    text-decoration: none;
    font-weight: 900;

    &:hover {
      text-decoration: underline;
    }
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}

.divider {
  margin-bottom: 1rem;
}

.space-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.center-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
