<a
  matIconButton
  href="https://github.com/bbiehl/data-connect-demo"
  target="_blank"
  aria-label="GitHub"
  matTooltip="GitHub"
  matTooltipPosition="above"
>
  <mat-icon svgIcon="github-icon"></mat-icon>
</a>
<a
  matIconButton
  href="https://www.linkedin.com/in/bradley-biehl/"
  target="_blank"
  aria-label="LinkedIn"
  matTooltip="LinkedIn"
  matTooltipPosition="above"
>
  <mat-icon svgIcon="linkedin-icon"></mat-icon>
</a>
<a
  matIconButton
  href="https://x.com/bradley_biehl"
  target="_blank"
  aria-label="Twitter"
  matTooltip="Twitter"
  matTooltipPosition="above"
>
  <mat-icon svgIcon="twitter-icon"></mat-icon>
</a>
